
@font-face {
  font-family: "Copernicus";
  font-weight: 400;
  src: url("https://d15be2nos83ntc.cloudfront.net/copernicus/GalaxieCopernicus-Book.eot");
  src: url("https://d15be2nos83ntc.cloudfront.net/copernicus/GalaxieCopernicus-Book.eot") format("embedded-opentype"), url("https://d15be2nos83ntc.cloudfront.net/copernicus/GalaxieCopernicus-Book.woff2") format("woff2"), url("https://d15be2nos83ntc.cloudfront.net/copernicus/GalaxieCopernicus-Book.woff") format("woff"), url("https://d15be2nos83ntc.cloudfront.net/copernicus/GalaxieCopernicus-Book.ttf") format("truetype");
}

@font-face {
  font-family: "Copernicus";
  font-style: italic;
  font-weight: 400;
  src: url("https://d15be2nos83ntc.cloudfront.net/copernicus/GalaxieCopernicus-BookItalic.eot");
  src: url("https://d15be2nos83ntc.cloudfront.net/copernicus/GalaxieCopernicus-BookItalic.eot") format("embedded-opentype"), url("https://d15be2nos83ntc.cloudfront.net/copernicus/GalaxieCopernicus-BookItalic.woff2") format("woff2"), url("https://d15be2nos83ntc.cloudfront.net/copernicus/GalaxieCopernicus-BookItalic.woff") format("woff"), url("https://d15be2nos83ntc.cloudfront.net/copernicus/GalaxieCopernicus-BookItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Copernicus";
  font-weight: 600;
  src: url("https://d15be2nos83ntc.cloudfront.net/copernicus/GalaxieCopernicus-Semibold.eot");
  src: url("https://d15be2nos83ntc.cloudfront.net/copernicus/GalaxieCopernicus-Semibold.eot") format("embedded-opentype"), url("https://d15be2nos83ntc.cloudfront.net/copernicus/GalaxieCopernicus-Semibold.woff2") format("woff2"), url("https://d15be2nos83ntc.cloudfront.net/copernicus/GalaxieCopernicus-Semibold.woff") format("woff"), url("https://d15be2nos83ntc.cloudfront.net/copernicus/GalaxieCopernicus-Semibold.ttf") format("truetype");
}

@font-face {
  font-family: "Copernicus";
  font-style: italic;
  font-weight: 600;
  src: url("https://d15be2nos83ntc.cloudfront.net/copernicus/GalaxieCopernicus-SemiboldItalic.eot");
  src: url("https://d15be2nos83ntc.cloudfront.net/copernicus/GalaxieCopernicus-SemiboldItalic.eot") format("embedded-opentype"), url("https://d15be2nos83ntc.cloudfront.net/copernicus/GalaxieCopernicus-SemiboldItalic.woff2") format("woff2"), url("https://d15be2nos83ntc.cloudfront.net/copernicus/GalaxieCopernicus-SemiboldItalic.woff") format("woff"), url("https://d15be2nos83ntc.cloudfront.net/copernicus/GalaxieCopernicus-SemiboldItalic.ttf") format("truetype");
}
