
// @font-face {
//   font-family: "Copernicus";
//   font-weight: 400;
//   src: url("https://d15be2nos83ntc.cloudfront.net/copernicus/GalaxieCopernicus-Book.eot");
//   src: url("https://d15be2nos83ntc.cloudfront.net/copernicus/GalaxieCopernicus-Book.eot") format("embedded-opentype"), url("https://d15be2nos83ntc.cloudfront.net/copernicus/GalaxieCopernicus-Book.woff2") format("woff2"), url("https://d15be2nos83ntc.cloudfront.net/copernicus/GalaxieCopernicus-Book.woff") format("woff"), url("https://d15be2nos83ntc.cloudfront.net/copernicus/GalaxieCopernicus-Book.ttf") format("truetype");
// }

// @font-face {
//   font-family: "Copernicus";
//   font-style: italic;
//   font-weight: 400;
//   src: url("https://d15be2nos83ntc.cloudfront.net/copernicus/GalaxieCopernicus-BookItalic.eot");
//   src: url("https://d15be2nos83ntc.cloudfront.net/copernicus/GalaxieCopernicus-BookItalic.eot") format("embedded-opentype"), url("https://d15be2nos83ntc.cloudfront.net/copernicus/GalaxieCopernicus-BookItalic.woff2") format("woff2"), url("https://d15be2nos83ntc.cloudfront.net/copernicus/GalaxieCopernicus-BookItalic.woff") format("woff"), url("https://d15be2nos83ntc.cloudfront.net/copernicus/GalaxieCopernicus-BookItalic.ttf") format("truetype");
// }

// @font-face {
//   font-family: "Copernicus";
//   font-weight: 600;
//   src: url("https://d15be2nos83ntc.cloudfront.net/copernicus/GalaxieCopernicus-Semibold.eot");
//   src: url("https://d15be2nos83ntc.cloudfront.net/copernicus/GalaxieCopernicus-Semibold.eot") format("embedded-opentype"), url("https://d15be2nos83ntc.cloudfront.net/copernicus/GalaxieCopernicus-Semibold.woff2") format("woff2"), url("https://d15be2nos83ntc.cloudfront.net/copernicus/GalaxieCopernicus-Semibold.woff") format("woff"), url("https://d15be2nos83ntc.cloudfront.net/copernicus/GalaxieCopernicus-Semibold.ttf") format("truetype");
// }

// @font-face {
//   font-family: "Copernicus";
//   font-style: italic;
//   font-weight: 600;
//   src: url("https://d15be2nos83ntc.cloudfront.net/copernicus/GalaxieCopernicus-SemiboldItalic.eot");
//   src: url("https://d15be2nos83ntc.cloudfront.net/copernicus/GalaxieCopernicus-SemiboldItalic.eot") format("embedded-opentype"), url("https://d15be2nos83ntc.cloudfront.net/copernicus/GalaxieCopernicus-SemiboldItalic.woff2") format("woff2"), url("https://d15be2nos83ntc.cloudfront.net/copernicus/GalaxieCopernicus-SemiboldItalic.woff") format("woff"), url("https://d15be2nos83ntc.cloudfront.net/copernicus/GalaxieCopernicus-SemiboldItalic.ttf") format("truetype");
// }

// // https://www.onlinewebfonts.com/download/2bdc8fe82a76b8d30126b56a085ac763
// @import url(//db.onlinewebfonts.com/c/2bdc8fe82a76b8d30126b56a085ac763?family=Copernicus);
// @font-face {font-family: "Copernicus"; src: url("//db.onlinewebfonts.com/t/2bdc8fe82a76b8d30126b56a085ac763.eot"); src: url("//db.onlinewebfonts.com/t/2bdc8fe82a76b8d30126b56a085ac763.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/2bdc8fe82a76b8d30126b56a085ac763.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/2bdc8fe82a76b8d30126b56a085ac763.woff") format("woff"), url("//db.onlinewebfonts.com/t/2bdc8fe82a76b8d30126b56a085ac763.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/2bdc8fe82a76b8d30126b56a085ac763.svg#Copernicus") format("svg"); }

// // https://www.onlinewebfonts.com/download/f5d52e88864f871263510430f3065dd8
// @import url(//db.onlinewebfonts.com/c/f5d52e88864f871263510430f3065dd8?family=Copernicus);
// @font-face {font-family: "Copernicus"; src: url("//db.onlinewebfonts.com/t/f5d52e88864f871263510430f3065dd8.eot"); src: url("//db.onlinewebfonts.com/t/f5d52e88864f871263510430f3065dd8.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/f5d52e88864f871263510430f3065dd8.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/f5d52e88864f871263510430f3065dd8.woff") format("woff"), url("//db.onlinewebfonts.com/t/f5d52e88864f871263510430f3065dd8.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/f5d52e88864f871263510430f3065dd8.svg#Copernicus") format("svg"); }

//

@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&family=Gayathri:wght@100;400;700&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Overpass+Mono:wght@300;400;500;600;700&family=Overpass:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
// font-family: 'EB Garamond', serif;
// font-family: 'Merriweather', serif;
// font-family: 'Playfair Display', serif;
// font-family: 'Gayathri', sans-serif;
// font-family: 'Overpass', sans-serif;
// font-family: 'Overpass Mono', monospace;
